.btn-disable {
  color: #fff;
  cursor: pointer;
  background-color: #dad8e0;
  border: 0;
  border-radius: 30px;
  outline: none;
}

.btn-white {
  color: #54b7c8;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #19b7cd;
  border-radius: 30px;
  outline: none;
}

.btn-blue {
  color: #fff;
  cursor: pointer;
  background-color: #19b7cd;
  border: 0;
  border-radius: 30px;
  outline: none;
}
