/* font-size */
.fs-32 {
  font-size: 32px;
  line-height: 0.9375;
}

.fs-20 {
  font-size: 20px;
  line-height: 1.1;
}

.fs-18 {
  font-size: 18px;
  line-height: 1.666;
}

.fs-15 {
  font-size: 15px;
  line-height: 2;
}

.fs-14 {
  font-size: 14px;
  line-height: 1.071;
}

.fs-13 {
  font-size: 13px;
  line-height: 2.307;
}

.fs-12 {
  font-size: 12px;
  line-height: 2.5;
}

/* color */
.text-main {
  color: #19b7cd;
}

.text-primary {
  color: #fb7348;
}

.text-disable {
  color: #dad8e0;
}

.text-explain {
  color: #737373;
}

/* font-weight */
.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}
